<footer>
    <div class="container">
        <div class="container-footer-top">
            <section class="medios-pagos">
                <div class="tarjetas">
                    <h3>Metodos de pagos</h3>
                    <img src="/images/store.png" alt="">
                </div>
            </section>
        </div>

        <div class="contactos">
            <section>
                <h3>Contactos</h3>
                <div class="telefono">
                    <i class="fas fa-phone-alt"></i><span>123-456-7890</span>
                </div>
                <div class="mail">
                    <i class="far fa-envelope"></i> <span>contac@gmail.com</span>
                </div>

            </section>
        </div>

        <div class="section-3">
            <section>
                <nav>
                    <ul>
                        <li><a class="boton-arrepentimiento" href="arrepentimiento">arrepentimiento</a></li>
                        <li><a href="">Ayuda</a></li>
                        <li><a href="">Preguntas frecuentes</a></li>
                        <li><a href="">Terminos y condiciones</a></li>
                        <li><a href="">Atencion al cliente</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </div>
    <div class="container-footer-down">
        <section class="footer-copy">
            <p class="copyright">Copyright © 1999-2021 LibreriaInnovArte S.R.L.</p>
        </section>
    </div>
</footer>